*.zip

__pycache__/
*.py[cod]
*$py.class

.Python
build/

*.hcl

*.info

*.tfstate
*.tfstate.*

*override.tf*

*_override.tf*

.terraform.rc
terraform.rc

*tfvars

*creds*

.terraform/

.env

manifest.yml

layer/python/*